@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap");
@import "tailwindcss";

#root {
  max-width: 1280px;
  margin: 0 auto;
  text-align: center;
}

@theme {
  --font-nunito: "Nunito", sans-serif; 
  --color-brand-orange: #DE8A59;
  --color-brand-purple-one: #4D2E46;
  --color-brand-purple-two: #532A48;
  --color-brand-white-one: #F8F6F8;
  --color-brand-bg-gray-one: #F8F7F8;
  --color-brand-gray-one: #D6D6D6;
  --color-brand-gray-two: #6A7A91;
  --color-brand-gray-three: #EDEAED;
  --color-brand-gray-four: #333333;
  --color-brand-gray-five: #BFBFBF;
  --color-brand-gray-six: #808080;
  --color-brand-gray-seven: #A9B1C2;
  --color-brand-gray-eight: #F8FAFB;
  --spacing-1px:1px;
  --text-xxs:0.625rem; /* 10px */
  --text-2xs:0.5rem; /* 8px */
}
